@charset "utf-8";
/**
 * JCDSee styles.
 * Jonathan Cross: 2004-2015
 */

/* TODO: Remove these after static HTML is updated, etc. */
A.pic IMG,A.current_pic IMG {color:#777;}
A.txt                 {color:#0000bb;text-decoration:none;}
DIV#email             {color:#333333;font-size:12px;padding:5px;}
DIV#email_subject     {font-family:arial;font-size:17px;font-weight:bold;color:black;}
DIV#email_date        {font-size:12px;font-family:courier new,courier,fixed;color:#666;}
DIV#email IMG         {padding:5px;}


/* New styles JCDSee 2.0 */

@media all {

  body {
    background-color: #b6bbbc;
    font-family: verdana,arial,helvetica,sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 80px 0 150px; /* make sure we can scroll everything onto screen */
  }

  form {
    margin: 0;
    padding: 0;
  }

  #mode-slide {
    background: black;
    color: white;
  }

  #mode-slide a {
    color: #ccc;
  }

  #mode-slide a:visited {
    color: #777;
  }

  a {
    outline: none;
  }

  img {
    border: none;
  }

  #admin-button {
    bottom: 0;
    height: 7px;
    position: absolute;
    right: 0;
    width: 7px;
    z-index: 999;
  }

  #admin-button:hover {
    cursor: pointer;
    background: red;
  }

  /* Table columns. */

  #mode-list table {
    border: 1px solid #aaa;
  }

  #mode-list tr:nth-of-type(even) td {
    background-color: #ccc;
  }

  #mode-list tr:nth-of-type(odd) td {
    background-color: #c0c0c0;
  }

  .col-picture {
    text-align: center;
    vertical-align: top;
  }

  .col-size {
    color: #777;
    text-align: right;
  }

  .col-description {
    text-align: left;
  }

  /* Fancy hover and keyboard navigation for icons when on a desktop computer.  Disabled later for mobile / tablet. */

  .col-description a:focus .file-name {
    color: blue;
    text-decoration: underline;
  }

  a .picture-icon {
    border: 1px solid #888;
    opacity: .95;
  }

  a:hover .picture-icon {
    border-color: #222;
    opacity: 1;
  }

  /* Handle built-in icons and thumbnail photos. */
  .picture-icon-container a:focus img,
  .col-picture a:focus img,
  a:focus .picture-icon {
    background-color: rgba(0, 0, 255, .3);
    border-color: blue;
    opacity: 1;
    outline: 1px solid blue;
  }

  /* Perhaps .picture-icon should be named "picture" here? Or we could remove the class for #mode-single. */
  #mode-single .large-picture-wrapper .picture-icon {
    border: none;
    opacity: 1;
  }

  #mode-thumb .picture-icon-container {
    display: inline-block;
    margin: 7px;
  }

  #mode-thumb img {
    max-height: 140px;
  }

  #mode-thumb .picture-icon-file-name {
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    line-height: 1em;
    text-align: center;
  }

  /* For list mode text links */
  a.simple {
    text-decoration: none;
  }

  a.simple:hover {
    color: #00a;
  }

  #content {
    color: #666;
    font-size: 0; /* Removes tiny margin-bottom between image and its border. */
  }

  body#mode-single #content {
    margin: 2%;
  }

  #mode-list #content {
    font-size: 11px;
    max-width: 100%;
    width: 700px;
  }

  #mode-list #content > div {
    padding: 0 10px;
  }

  #mode-thumb #content {
    text-align: center;
  }

  h3 {
    font-size: 11px;
    font-weight: normal;
  }

  #mode-single h3 {
    background-color: #ddd;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 4px solid #666;
    box-shadow: 0 8px 36px 5px rgba(150, 150, 150, 1) !important;
    clip: rect(0px, 9999px, 999px, -999px); /* clip off the top of the shadow */
    color: #222;
    margin: -4px 66px 0 -4px;
    padding: .6em .4em .7em;
    position: absolute;
    text-align: center;
    top: 100%;
  }

  #mode-slide h3 {
    text-align: left;
  }

  /* Target just the file-description.  Might be better to use class, but needs update in slideshow and single. */
  h3 > span:before {
    content: ' : ';
  }

  #mode-single .previous,
  #mode-single .next {
    background-color: #888;
    border-radius: 50px;
    box-shadow: 0 5px 40px rgba(102, 102, 102, .5);
    display: block;
    margin-bottom: 2px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
  }

  .previous img,
  .next img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 70px;
    opacity: .3;
    -moz-transition: opacity 150ms ease-in, filter 50ms ease-in;
    -ms-transition: opacity 150ms ease-in, filter 50ms ease-in;
    -o-transition: opacity 150ms ease-in, filter 50ms ease-in;
    -webkit-transition: opacity 150ms ease-in, filter 50ms ease-in;
    transition: opacity 150ms ease-in, filter 50ms ease-in;
    width: 70px;
  }

  #mode-single .previous img,
  #mode-single .next img {
    border-radius: 50px;
  }

  .next:focus img,
  .next:hover img,
  .previous:focus img,
  .previous:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1.0 !important;
  }

  #mode-single .previous {
    /* -400 clip value is to prevent box-shadow clipping, +400 is to to allow large thumbs */
    clip: rect(-400px, 74px, 400px, -30px);
    left: -4px;
  }

  #mode-single .next {
    /* -400 clip value is to prevent box-shadow clipping, +400 is to to allow large thumbs */
    clip: rect(-400px, 400px, 400px, 4px);
    right: -4px;
  }

  #mode-slide #content > div {
    display: inline-block;
    position: relative;
  }

  /* Show error if trying to view slideshow without javascript. */
  .jcd #mode-slide #content noscript {
    color: white;
    font-size: 10px;
  }

  /* Hide slideshow button if javascript disabled. */
  .jcd #button-slideshow {
    display: none;
  }

  /* previous, next and main image are all part of .picture-link class. */
  .picture-link,
  .picture-link:visited {
    border: 4px solid #666;
  }

  .picture-link:focus {
    border-color: #66f; /* Keyboard nav. */
  }

  .picture-link.large-picture-wrapper {
    box-shadow: 0 14px 36px 5px rgba(150,150,150,1);
    display: inline-block;
    margin: 0 -4px; /* Compensate for border */
  }

  .large-picture-wrapper img {
    max-width: 100%;
    width: 100%; /* Needed by FF only. */
  }

  #mode-single #content {
    display: inline-block;
    /* left: 50%; #scroll-x */
    margin: 1% 0 0;
    position: relative;
    /* right: -50%; #scroll-x */
  }

  #mode-single #content > div {
    /* left: -50%; Replaced with right: -50%; above */
    padding: 0 70px;
    position: relative;
  }

  #nav,
  #footer {
    background-color: rgba(0, 0, 0, .7);
    border-color: black;
    border-style: solid;
    opacity: .6;
    position: fixed;
    -webkit-transition: opacity 1s;
    z-index: 10;
  }

  /* Slideshow */

  /* Slideshow counter element inserted with JS. */
  #counter {
    border-left: 1px dashed #888;
    color: #666;
    display: inline-block;
    font-size: 12px;
    margin-left: 18px;
    padding: 3px 14px;
  }

  #files.hide {
    display: none;
  }

  #mode-slide #content {
    margin: 5%;
    text-align: center;
  }

  #mode-slide .large-picture-wrapper {
    border: 1px solid #666;
    border-radius: 2px;
    box-shadow: none;
    margin: 0;
    padding: 2px;
  }

  #content .active {
    /* Do something with the slideshow once active. */
  }

  #mode-slide #nav,
  #mode-slide #footer {
    background-color: black;
    border-color: #888;
    -webkit-transition: opacity 1s;
  }

  #mode-slide #nav {
    overflow-y: hidden; /* Should we have this on all versions? */
    padding-bottom: 15px;
  }

  #nav {
    border-width: 0 0 1px 0;
    padding: 7px;
    top: 0;
    width: 100%;
  }

  #nav ul {
    list-style: none;
  }

  #nav li {
    display: block;
    float: left;
  }

  #nav li:last-child {
    float: none;
  }

  #depth-path {
    color: #d8d8d8;
    font-family: arial, sans-serif;
    margin: 7px 157px 7px 7px; /* margin-right is for #mode-buttons */
    padding: 0;
  }

  #depth-path h1 {
    color: white;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }

  #depth-path h2 {
    display: inline;
    font-size: inherit;
    font-weight: normal;
    max-width: 100%;
  }

  #depth-path li:after {
    content: '<';
    margin: 0 5px;
  }

  /* Remove '<' from h1 and / or h2 items at the end of the depth path. */
  #depth-path li.depth-path-header:after {
    content: ''; /* Older webkit doesn't support none. */
    content: none;
  }

  /* Add ':' after all depth-path h1s. */
  #depth-path li.depth-path-header h1:after {
    content: ':';
    font-weight: bold;
    padding: 0 .5ex;
  }

  /* Remove trailing ':' if depth-path h1 is last item (sometimes it h2). */
  #depth-path li.depth-path-header:last-child h1:after {
    content: ''; /* Older webkit doesn't support none. */
    content: none;
    padding: 0;
  }

  #depth-path a,
  #depth-path a:visited {
    color: #ccc;
    opacity: .8;
  }

  #depth-path a:hover,
  #depth-path a:focus {
    color: white;
    opacity: 1;
    outline: none;
  }

  /* TODO: rename to "display-mode-button-container" to prevent confusion with body#mode-* */
  #mode-buttons {
    position: absolute;
    right: 24px;
    top: 8px;
  }

  /* Inactive mode buttons. */
  #mode-buttons a img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .4;
  }

  #mode-buttons a,
  #mode-buttons > img {
    margin: 0 3px;
  }

  #mode-buttons img,
  #mode-buttons a:focus img,
  #mode-buttons a:hover img {
    border: 0;
    opacity: .9;
  }

  #slideshow-buttons {
    float: left;
    margin: 0;
    min-width: 228px;
    padding: 0;
  }

  #mode-slide #slideshow-controls {
    margin: 7px auto auto 7px;
  }

  #slideshow-buttons li {
    margin-right: .5em;
  }

  #slideshow-buttons button,
  #slideshow-speed {
    /* Prevent selection of text. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #666;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #aaa;
    cursor: pointer;
    font-size: 13px;
    padding: 2px 6px 4px;
    margin: 0;
    opacity: .85;
  }

  #slideshow-buttons button:focus,
  #slideshow-buttons button:hover,
  #slideshow-speed:focus,
  #slideshow-speed:hover {
    color: #ddd;
    background-color: #555;
    border-color: #bbb;
    opacity: 1;
    outline: none;
    transition: all .2s ease-out;
  }

  #slideshow-buttons button:before {
    float: left;
    line-height: 1;
    padding-right: 6px;
    padding-top: 0;
    font-family: 'lucida sans unicode', sans-serif;
  }

  #slideshow-buttons li.active button {
    opacity: 1;
  }

  #slideshow-buttons #slideshow-play:before {
    content: '▶';
    font-size: 14px;
    padding-top: 2px;
  }

  li.active #slideshow-play {
    color: #cfc;
    background-color: #373;
    border-color: #cfc;
  }

  #slideshow-buttons #slideshow-pause:before {
    content: 'Ⅱ';
    font-size: 15px;
    font-weight: bold;
    margin-top: 1px;
  }

  li.active #slideshow-pause {
    color: #ffc;
    background-color: #773;
    border-color: #ffc;
  }

  #slideshow-buttons #slideshow-restart:before {
    content: '↻';
    font-size: 16px;
    font-weight: bold;
  }

  li.active #slideshow-restart {
    color: #fcc;
    background-color: #733;
    border-color: #fcc;
  }

  #slideshow-speed {
    /* TODO: Add arrows per: http://stackoverflow.com/a/16553552/1117929 */
    -webkit-appearance: none; /* Removes gradient from Safari. Makes Chrome respect border-radius. */
    border-radius: 3px;
    height: 24px;
    text-transform: lowercase;
  }

  #slideshow-speed:focus {
    background: #050;
    border: 1px solid #cfc;
    color: #cfc;
    outline: none;
  }

  /* List mode file name formatting. */

  .col-description a .file-name {
    color: #555;
    font-weight: 600;
  }

  .col-description .file-description:before {
    content: ' - ';
  }

  .col-description .file-date {
    color: #999;
    margin-right: 2px;
  }

  #footer {
    border-width: 1px 1px 0 0;
    border-top-right-radius: 25px;
    bottom: 0;
    padding: 14px;
    width: 265px;
  }

  #copyleft {
    float: left;
    margin-right: 9px;
    opacity: .3;
  }

  #copyleft img {
    height: 46px;
    width: 46px;
  }

  /* Outline the icon when on black background. */
  #mode-slide #copyleft img {
    border: 1px solid #ccc;
    border-radius: 50px;
  }

  #usage,
  #usage a {
    color: #bbb;
    font-family: courier new, courier, fixed;
    font-size: 10px;
    line-height: 11px;
    text-decoration: none;
  }

  #usage:hover a {
    text-decoration: underline;
  }

  #footer #copyleft:focus,
  #footer:hover #copyleft,
  #footer:hover #usage {
    color: white;
    opacity: 1;
  }

  /* Allow the entire nav and footer to change opacity with hover. */
  #mode-slide #footer:hover,
  #footer:hover,
  #mode-slide #nav:hover,
  #nav:hover {
    opacity: 1;
  }

}


@media screen and (min-width: 1281px) {

  h3 {
    font-size: 12px;
  }

  #mode-thumb #content {
    text-align: left;
  }

  /* Make the 'next' and 'previous' 20px larger (70px => 90px) */
  #mode-single .next img,
  #mode-single .previous img {
    border-radius: 70px;
    height: 90px;
    width: 90px;
  }

  #mode-single .previous {
    /* add 20px from left and add it to right clip */
    clip: rect(-400px, 94px, 400px, -30px);
    left: -24px;
  }

  #mode-single .next {
    right: -24px;
  }

}


@media screen and (max-width: 700px) {

  #footer {
    background: none !important;
    border: none;
    padding: 0;
  }

  #copyleft {
    float: none;
    margin: 0;
    opacity: .7;
  }

  #nav,
  #footer {
    background-color: rgba(0, 0, 0, .6);
    opacity: .8;
  }

  /* Disable the hover effect for mobile. */
  a .picture-icon {
    border-color: #222;
    opacity: 1;
  }

  #usage {
    display: none;
  }

}


@media screen and (max-width: 600px) {

  body {
    padding-top: 80px;
  }

  body#mode-slide {
    padding-top: 0;
  }

  #mode-slide #nav {
    opacity: 1;
    position: initial;
  }

  #nav {
    min-height: 68px;
    padding: 0 0 7px 0;
  }

  #nav #depth-path {
    margin-right: 80px;
  }

  #mode-slide #depth-path {
    line-height: 1.2;
  }

  #mode-slide #slideshow-controls {
    float: left;
  }

  #nav #mode-buttons {
    max-width: 72px;
    right: 5px;
  }

}


@media screen and (max-width: 480px) {

  body {
    padding-top: 110px;
  }

  #mode-slide #counter {
    border-left: none;
    display: inline;
    font-size: 13px;
    margin-left: 8px;
    padding: 0;
    white-space: nowrap;
  }

  #mode-slide #slideshow-controls {
    line-height: 30px;
  }

  #mode-slide #depth-path {
    min-height: 65px; /* Prevent buttons from overlapping. */
  }

  #mode-list .file-name-container {
    display: block;
  }

  #mode-list .file-description:before {
    content: '';
  }

  .previous img,
  .next img {
    opacity: 1;
    transition: none;
    -webkit-transition: none;
  }

}
