/* Homapage CSS (included into /index.shtml) */

#content {
  color: #333;
}

a,
a:visited {
  color: #00b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 3em;
}

#tabset h2 {
  font-size: 12pt;
  margin: 1em 0 .5em;
  text-align: center;
}

h4 span {
  font-weight: normal;
}

#homepage-intro-thumbs {
  margin-bottom: 0.5em;
  text-align: center;
}

#homepage-intro-thumbs a img {
  border: 1px solid #999;
  margin: 3px;
  opacity: 0.85;
  padding: 0;
}

#homepage-intro-thumbs a:hover img {
  border-color: black;
  opacity: 1;
}

#tabset > div {
  margin: -27px 0 8px;
}

#tabset #labels {
  margin-top: 0;
}

#tabset,
#labels a {
  border: 1px solid #999;
  border-bottom-color: #777;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#tabset,
#labels a.active {
  background-color: #eee;
}

#tabset {
  border-color: #777;
  border-top-left-radius: 0 0;
  box-shadow: rgba(0,0,0,.2) 2px 6px 16px;
  display: inline-block;
  margin: 25px 0 0 0;
  padding: 0;
  width: 100%;
}

#countries-tab {
  width: 100%;
}

#countries-tab div {
  border-top: none;
  color: #aaa;
  float: left;
  font-size: 12px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: top;
}

h4 {
  color: #555;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0 0;
}

#dates-tab h4 {
  font-size: 12px;
  margin: 12px 0 5px;
}

#countries-tab br {
  font-size: 6px;
}

#countries-tab a {
  color: #22b;
  display: block;
}

#countries-tab a:hover {
  color: #00f;
}

h5,
p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1em
}

h5 {
  border-bottom: 1px solid #aaa;
  margin: 2em 0 3px 0;
  padding-bottom: 3px;
}

#labels {
  display: table; /* Somehow this forces browser to ignore white-space between tabs. */
  left: -1px;
  position: relative;
  top: -22px;
  width: 100%;
  white-space: nowrap;
  z-index: 1;
}

#labels a {
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #44c;
  display: inline-block;
  font-size: 11px;
  height: 14px;
  padding: 3px 1em;
}

#labels a:hover {
  color: #00c;
}

#labels a.active {
  border-color: #777;
  border-bottom-color: transparent;
  box-shadow: rgba(0, 0, 0, .2) 3px 0 1px -1px;
  color: black;
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

form {
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid #999;
}

input.search_button {
  background-color: #ddd;
  color: #555;
  display: inline-block;
  font-size: 11px;
  height: 20px;
  margin-right: 8px;
  padding-top: 1px;
  padding: 4px;
}

input.search_button: hover {
  background-color: #ddf;
  border-color: #99f;
  color: #44f;
  cursor: pointer;
}

input.text {
  background-color: #f8f8f8;
  color: #666;
  font-family: fixed,"courier new";
  font-size: 12px;
  font-weight: bold;
  height: 14px;
  padding:2px;
}

input.text:hover,
input.text: focus {
  background-color: #ff9;
  border-color: #777;
  color:black;
}

input.text: focus {
  outline: none;
  width: 125px;
}

.jcd-js .show {
  display: inline-block !important;
}

.jcd-js .hide {
  display: none !important;
}

.jcd-js .tab-header {
  display: none !important;
}

#adventures-tab h3 {
  color: #111;
  font-family: helvetica,arial,sans-serif;
  font-size: 12pt;
  margin: 8px .5em 3pt 0;
}

#adventures-tab ul {
  margin: 0 0 -9px;
  padding: 0;
}

#adventures-tab li {
  clear: both;
  min-height: 100px;
  list-style-type: none;
  padding-bottom: 1em;
}

#adventures-tab div {
  width: 73%;
}

#adventures-tab a {
  color: #22b;
}

#adventures-tab a img {
  border: 1px solid #aaa;
  float: right;
  height: 100px;
  margin-left: 1em;
  width: 140px;
}

#adventures-tab a:hover img {
  border-color: #009;
}

#map-tab {
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 452px;
  padding: 0; /* Overrides .jcd-tab padding.*/
  margin-bottom: -2px !important;
  width: 100%;
}

h1 {
  color: #ccc;
  font-family: arial;
  font-size: 17px;
  margin: 4px 1em 1px 3px;
}

#search-container {
  float: right;
}

/* Styles for non-javascript browsers. */

.jcd #labels {
  display: block;
  margin: 0 !important;
}

.jcd #tabset > div {
  clear: both;
  margin: 0 0 4em;
}

.jcd #tabset h2 {
  margin-top: 0;
}

.jcd #dates-tab {
  padding-bottom: 3em;
  padding-top: 3em;
}

/* Sitemap doesn't work without JS because it disables xsl too. */
.jcd #sitemap-tab-label {
  display: none;
}

#countries-tab h4:before {
  content: 'Countries ';
}

.col {
  border-right: 1px solid #ccc;
  width: 33%;
}

.col:last-child {
  border-right: none;
}

#labels #sitemap-link {
  background: none;
  border: none;
  color: #00a;
  float: right;
  padding-right: 1px;
}

.jcd #sitemap-link {
  position: absolute;
  right: 1px;
}

/* TODO: Use tab class for all common styles. */
.jcd-tab {
  padding: 0 1em 1em;
}

#dates-tab a {
  padding: 5px;
}


@media screen and (max-width: 600px) {

  #map-tab {
    height: 386px;
  }

}


@media screen and (max-width: 480px) {

  #labels {
    top: -28px;
  }

  #labels a {
    padding: 6px;
  }

  #countries-tab h4 {
    display: none;
  }

  #countries-tab div {
    line-height: 2;
  }

  #map-tab {
    height: 306px;
  }

  #adventures-tab a img {
    height: 60px;
    width: 80px;
  }

}


@media screen and (max-width: 360px) {

  #map-tab {
    height: 226px;
  }

}

