@charset "utf-8";
/*
  JCDSee styles.
  Jonathan Cross :: 2004-2012
  Warning, in IE version 7 and earlier, all values here may be changed by IE8.js which attempts to bring standards to older IE.
*/
/* Styles for ALL browsers */
.version{content: '1.9.91';}
BODY                  {background:#b6bbbc url("bg_logo.gif") no-repeat fixed right top;padding:15px;margin:0px;font-family:verdana,arial,helvetica,sans-serif;}
TD                    {color:#888888;text-align:center;font-size:11px;}
.head                 {background-color:#CCD2D8;font-weight:bold;color:#556677;font-family:arial;font-size:11px;}
A.nav_text,DIV.header {color:#333333;font-size:9px;text-decoration:none;}
TD.thumb_file_name    {color:#666666;text-align:center;font-family:arial;font-size:10px;line-height:1em;white-space:normal;}
TD.r                  {text-align:right;color:#aaaabb;}
TD.l                  {text-align:left;}
A.pic IMG,A.current_pic IMG {color:#777;}
.thumbBlock img {height:140px;}/* target all thumbnail images */
A.txt                 {color:#0000bb;text-decoration:none;}
#usage                {color:#888;font-family:courier new,courier,fixed;font-size:10px;line-height:11px;text-align:left;}
#usage a {
  color: #888;
  text-decoration: none;
}
#usage a {
  color: #888;
  text-decoration: none;
}
#usage a:hover {
  color: #008;
  text-decoration: underline;
}
FORM                  {margin:0;padding:0;}
TD#depthPath          {color:#222222;font-family:arial;font-size:13px;vertical-align:middle;text-align:left;}
#admin_button         {z-index:1;left:17px;top:17px;height:7px;width:7px;position:absolute;}
#admin_button:hover   {background-color:blue;opacity:0.3;cursor:pointer;}
DIV#email             {color:#333333;font-size:12px;padding:5px;}
DIV#email_subject     {font-family:arial;font-size:17px;font-weight:bold;color:black;}
DIV#email_date        {font-size:12px;font-family:courier new,courier,fixed;color:#666;}
DIV#email IMG         {padding:5px;}
TABLE.thumbBlock      {display:inline;margin:7px;}
#pageDescription   {font-size:14px;color:#444;width:560px;margin-bottom:3px;}
#pageDescription STRONG {font-family:arial;color:#333;width:560px;}
#control_table,#file_list {margin-bottom:5px;width:560px;}

@media all {
  /* Styles which need to be hidden from Netscape 4 and older browsers */
  .LIST #page {margin:0}
  table.thumbBlock {display:inline-block;}
  /* For list mode text links */
  A.simple {text-decoration:none;}
  A.simple:hover {color:#00a;}
  TD#buttons A IMG     {margin:0px 0px 0px 4px;}
  A.nav_text   {display:block;text-align:center;border:2px solid #777777;white-space:nowrap;margin-top:2px;margin-bottom:2px;padding:1px;}
  DIV.header   {display:block;text-align:center;border:2px solid #777777;margin-top:2px;margin-bottom:2px;padding:1px;background-color:#cccccc;color:#444444;}
  td.trans a:link {
    margin-bottom: 2px;
    display: block;
    border: 4px solid #666;
    border-radius: 50px;
    opacity: 0.50;
    -moz-transition: opacity 250ms ease-in;
    -ms-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    -webkit-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
  }
  TD.trans A:hover,
  TD.trans A:hover IMG {
    opacity:1.0 !important;
  }
  SPAN.big_pic IMG       {border-color:#000000;}
  .SINGLE a.pic img {
    border-radius: 50px;
    height: 70px;
    margin-bottom: -2px;
    width: 70px;
  }
  A.current_pic IMG {border-color:#000000;color:#000000;}
  A.nav_text:hover, A.pic:hover IMG, A.current_pic:hover IMG {border-color:#cc5500 !important;color:#cc5500 !important;}
  A.txt:hover            {color:#cc5500;}
  #file_list, #control_table {width:100%;border:2px solid #555;background-color:#eee;}
  #page {}/*need to research*/
  .SINGLE #page, .THUMBS #page {margin:0 auto;}
  .SINGLE .singleImage {width:560px;margin:0 auto;}
  .LIST #control_table, .LIST #file_list {width:560px;}
  SPAN.filename          {font-weight:bold;}
  SPAN.date, SPAN.filename {padding:1px;color:#888;}
  SPAN.date                {background-color:#e0e0e0;border:1px solid #ccc;margin-right:2px;line-height:1.5em;}
  SPAN.filename_single {color:black;}
  #copyleft {padding-right:9px;}
  #copyleft A IMG {
    opacity: 0.3; /* CSS-3 Standards */
  }
  #copyleft A:hover IMG {
    opacity: 1.0; /* CSS-3 Standards */
  }
  TABLE#file_list TD {border-top:1px solid #ccc;}
  TABLE#file_list TD.head {border-top:none;}
  TD#buttons A, IMG {display:inline !important;}
  TD#buttons A:hover IMG {opacity:1.0 !important;}
  TD#buttons A.off IMG   {opacity:0.50;}
  /* SLIDESHOW STYLES */
  BODY.SLIDESHOW       {background:black none;}
  BODY.SLIDESHOW DIV.header A {color:#aaaabb;}
  #slideshowControls {
    width:100%;text-align:left;border:1px solid #567;font-size:10px;padding:3px;margin-bottom:2px;background-color:#124;
  }
  #slideshowControls td {
    color:#78a;
  }
  #slideshowControls a {
    border:1px solid #124;padding:1px;color:#abd;text-decoration:none;
  }
  #slideshowControls a:hover {color:#def;}
  #slideshowControls select {
    font-size:10px;background-color:#333;color:#999;line-height:1.5em;border:1px solid #567;
  }
  #slideshowControls a.slideButtonStart {border:1px solid #0f0 !important;background-color:#262;color:#0f0;}
  #slideshowControls a.slideButtonStop  {border:1px solid red !important;background-color:#622;color:red;}
  #slideshowControls a.slideButton      {border:1px solid #124;}
  BODY.SLIDESHOW TABLE#control_table {opacity:0.80;border:2px solid #444;background-color:#222222;}
  #depthPath a       {color:#6D70D7;padding-right:2px;padding-left:1px;}
  #depthPath a:hover {color:#00f;}
  BODY.SLIDESHOW #depthPath a:hover  {color:#abf;}
  BODY.SLIDESHOW #depthPath  {color:#666;}
  BODY.SLIDESHOW DIV.header   {border:1px solid #444;background-color:#191919;color:#aaa;}
  BODY.SLIDESHOW SPAN.big_pic IMG {border: 1px solid #999;}
  #slideshowControls #select_container select {opacity:0.60;background-color:#012;color:#abf; }
  #bookmarks { width:560px;margin-top:4px;margin-bottom:50px;}
  #bookmarks A IMG { border:0;margin:1px;opacity:0.65; }
  #bookmarks A:hover IMG { opacity:1.0; }
}
